body{
    background-color: rgb(81, 177, 218);
    color: azure;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 25px;
    /* background-image: url('/img/fondo.png'); 
  background-size: cover; 
  background-repeat: no-repeat;  */
}

#tarjeta {
    background-color: rgb(81, 177, 218);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    padding-left: 0%;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}


